# notebooks
.ipynb_checkpoints/

# data & outputs
data/
results/
*.parquet
*.csv
*.zip
*.sqlite
*.db
*.log
*.out

# python
__pycache__/
*.pyc

# R junk
.Rhistory
.RData
.Rapp.history
.Rproj.user/

# mac
.DS_Store


# Raw data / local artifacts
data/raw/
*.sqlite3
*.db

# Jupyter noise
.ipynb_checkpoints/

# Jupyter/Editor artifacts
.virtual_documents/

.ipynb_checkpoints/
# generated outputs
outputs/
data/
*.sqlite
*.sqlite3
*.db

# python
__pycache__/
*.pyc
.venv/
.env

# mac
.DS_Store

